#services div:nth-child(4) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#accueil button {
    padding : 5px;
}

#map
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

iframe, #blueEffect
{
    display: block;
    margin-top : 1vh;
    width: 95vw;
    height: 80vh;
    margin-bottom: 15px;
}
form
{
    left:0;
    width: 90%;
    margin-top : 81vh;
}

#blueLine {
    display: none;
}
#transparentLine {
    display: none;
}