

/* ========================= accueil - medium screen =============== */

#services div:nth-child(4) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
/* ========================= accueil - medium screen =============== */

#accueil button {
    padding : 5px;
}

/* ========================= accueil - medium screen =============== */

#map {
    position: static;
    display : flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
#map div {
    position: relative;
    height : 480px;
    margin: 10px;
}

iframe {
    position: static;
    border:0;
    height: calc(100% - 10px);
    margin: 5px;
}

#blueEffect {
    position: absolute;
    top:0;
    height: calc(100% - 10px);
    margin: 5px;
    background-color: rgba(201,226,250,0.4);
    z-index: 3;
}

form
{
    position: static;
    background-color: rgba(255,255,255,1);
    width:calc(65vw - 30px);
    height: 100%;
    padding: 15px;
    z-index: 0;
}

#formTitle {
    font-size: calc(16px + 2vw);
    font-weight: bold;
    margin: 10px;
    text-align: center;
}

form p {
    text-align: center;
}