@font-face {
    font-family: 'robotoregular';
    src:    url('fonts/Roboto-Regular-webfont.eot');
    src:    url('fonts/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
            url('fonts/Roboto-Regular-webfont.woff') format('woff'),
            url('fonts/Roboto-Regular-webfont.ttf') format('truetype'),
            url('fonts/Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: robotoregular, Georgia, Arial, serif; /*essai a suprrimer ensuite*/
    font-size: calc(8px + 0.8vw);
    text-align: justify;
    height: auto;
}

section {
    padding-top: 100px;
    margin-top: -100px;
}

h1 {
    font-size: calc(16px + 2vw);
    font-weight: bold;
    margin-bottom: 10px;
}
h1, h1 + div + p {
    text-align: center;
}
.underH1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.hrleft, .hrright {
    margin: 0px;
    color: #eeeeee;
    width: 5%;
    text-align: center;
}
.underH1 i {
    color: #5babd1;
    font-size: 0.8vw;
    width: auto;
    margin: 2px;
}


/*============================= HEADER ==================================*/
header {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    border-bottom: 1px solid #5babd1;
}

header div {
    height: 100px;
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
}

#logo {
    width: 30%;
    max-width: 400px;
    min-width: 180px;
    margin: auto;
}

nav {
    margin: auto;
}

nav ul {
    display: flex;
    margin: auto;
    flex-wrap: nowrap;
    list-style-type: none;
    flex-direction: row;
    justify-content: start;
    justify-items: start;
    align-items: center;
}
a:link, nav ul li a:visited
{
    color: #7b7b7b;
    text-decoration:none;
}
nav ul li:hover a {
    color: #656565;
}

nav ul li {
    margin: 0;
    padding: 15px 15px 5px 0px;
    border-top: white 2px solid;
}
nav ul li:hover {
    border-top: #5babd1 2px solid;
}

/*============================= SECTIONS ==================================*/

section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
}

/*========================= ACCUEIL - SLIDER =================================*/

#accueil h1 {
    display: none;
}

#accueil {
    position: relative;
}

#accueil img {
    width: 100%;
    height: 100%;
    min-width:350px;
}

#accueil #textOnSlider {
    position: absolute;
    top: 0;
    margin-top: 100px;
    width: 100%;
    height: 80%;
    font-size: calc(8px + 2vw);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: center;
    align-items: center;

}
#accueil p {
    color: white;
}
#pSlider {
    text-align: left;
    flex:0.8;
}
#accueil strong {
    color: #5babd1;
}
#pushLine {
    font-size: calc(6px + 0.5vw);
    margin:0;
    padding:0;
    font-style: normal;
}
#accueil button, #contactSubmit {
    color:white;
    font-size: calc(6px + 0.5vw);
    width: auto;
    margin: auto;
    padding: 6px;
    font-weight: bold;
    background-color: rgb(92, 173, 211);
    border-radius: 3px;
    border: 0;
    border-bottom: rgb(70, 144,180) 2px solid;
}
#accueil button:hover {
    background-color: #3491b2;
    border: 1px solid #3491b2;
}

#ltBackground, #gtBackground{
    color: white;
    border: solid 0;
    width:4vw;
    height: 2vw;
    border-radius: 8vw 8vw 0% 0%;
    background-color: #424246;
    display: flex;
    vertical-align: baseline;
}

#lt, #gt {
    font-style: normal;
    font-size: 2vw;
    margin: auto;
}

#ltBackground {
    margin-left: -1vw;
    transform:rotate(90deg);
}

#gtBackground {
    margin-right: -1vw;
    transform:rotate(-90deg);
}

/* ============================= SERVICES ========================*/

#services div {
    display: flex;
    width: 100%;
}
#services div:nth-child(1) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#services div:nth-child(2) {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#services img {
    width: 40%;
    min-width: 300px;
    max-width: 600px;
    margin: auto;
}

#services ul {
    width: 60%;
}

#services li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
}

#iconS1, #iconS2, #iconS3 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5%;
    position: relative;
    text-align: center;
    border: #e6e6e6 2px  solid;
    border-radius: 100%;
    color: #5babd1;
    font-size: 20px;
    width: 50px;
    height: 50px;
    margin:5px;
    padding:0;
}

#services ul i i {
    position: absolute;
    right: -6px;
    font-size: 10px;
    border: 2px solid white;
    border-radius: 100%;
}

#services li p {
    width:85%;
    text-align: left;
    margin-left: 10px;
}

/*============================ PROJETS ========================*/

#projectMenu ul{
    list-style-type: none;
    text-decoration:none;
    display: flex;
    width:30%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#projectMenu li {
    position: relative;
    flex-grow: 1;
    margin: 0;
}

#projectMenu button {
    width: 100%;
    color:white;
    font-size: calc(6px + 0.5vw);
    margin: 0;
    padding: 10px;
    font-weight: bold;
    background-color: rgb(92, 173, 211);
    border: 0;
    border-bottom: rgb(70, 144,180) 2px solid;
    border-radius: 0;
}

#projectMenu li:nth-child(1) button {
    border-radius: 10% 0 0 10%;
}

#projectMenu li:nth-child(4) button{
    border-radius: 0 10% 10% 0;
}

#projectMenu button:hover + span {
    display: block;
}

#projectMenu button:hover {
    background-color: #3491b2;
    border: 1px solid #3491b2;
}

.arrowProjectMenu{
    position: absolute;
    width: 0;
    height: 0;
    top: 100%;
    left: calc(50% - 12px);
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #3491b2;
    display: none;
}

#projectList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.projectExample {
    width: 20%;
    min-width: 300px;
    position: relative;
    margin: 2%;
}
.projectExample img{
    vertical-align: bottom;
    width: 100%;
    height: auto;
}

.projectExample figcaption, .projectExample i {
    overflow: hidden;
    transition: all 0.7s;
}
.projectExample strong {
    font-size: calc(10px + 1vw);
}
.projectExample figcaption {
    background: black;
    background: rgba(0,0,0, 0);
    width: 95%;
    position: absolute;
    bottom: 0px;
    padding-left: 5%;
    color: white;
    color: rgba(255,255,255, 0);
    font-size: calc(8px + 0.6vw);
}

.projectExample:hover figcaption, .projectExample:focus figcaption {
    background: black;
    background: rgba(0,0,0, 0.6);
    color: white;
    color: rgba(255,255,255, 1);
}

.projectExample i {
    display: inline-flex;
    justify-content: center;
    color: white;
    color: rgba(255,255,255, 0);
    padding: 0px;
    width: 40px;
    height: 40px;
    font-size: 15px;
    text-align: center;
    align-items: center;
    border: 1px white solid;
    border: 1px rgba(255,255,255, 0) solid;
    border-radius: 100%;
    position: absolute;
    bottom: 28%;
    left: 85%;
    background: rgb(91, 171, 209);
    background: rgba(91, 171, 209, 0);
}
.projectExample:hover i, .projectExample:focus i {
    background: rgb(91, 171, 209);
    background: rgba(91, 171, 209, 1);
    border: 1px white solid;
    border: 1px rgba(255,255,255, 1) solid;
    color: rgba(255,255,255, 1);
}

#projectMenu {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

/*===============================CONTACT=========================*/
#map {
    position: relative;
    width: 90vw;
    height: 75vh;
}

iframe {
    margin: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 3;
    opacity: 0.60;
    filter: alpha(opacity=60);
}

#blueEffect {
    margin: auto;
    position: absolute;
    top: 0;
    background-color: rgb(200,226,237);
    width: 100%;
    height: 100%;
    z-index: 2;
}

form
{
    z-index:4;
    position:absolute;
    top: 5%;
    right: 5%;
    width: 325px;
    height: 480px;
    background-color: rgba(255,255,255,0.65);
    padding: 20px;
}

#formTitle {
    font-size: calc(12px + 1.1vw);
    font-weight: bold;
    margin:0;
    padding:0;
}

form strong {
    font-size: calc(8px + 0.8vw);
    margin:0;
    padding:0;
}

form input, form textarea {
    background-color: white;
    width: 95%;
    margin-bottom: 15px;
    padding: 3px 0px 3px 2px;
    font-size: calc(6px + 0.6vw);
}
